<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<header th:replace="../static/html/header::header"></header>

<br>
<br>
<br>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <fieldset>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="username" required="required" autofocus="autofocus" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password" required="required" />
        </div>

        <div>
            <input type="submit" value="Log in" />
        </div>
    </fieldset>
</form>
</body>
</html>