<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Jui bo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>

	<nav class="navbar navbar-light bg-dark">
	  <span class="navbar-text">
		<h1>Welcome into the WarZone</h1>
	  </span>
	</nav>

	<h2 th:inline="text">[[${#httpServletRequest.remoteUser}]], ici créez votre combattant!</h2>
	<form class="test" action="#" th:action="@{/personnages/add}" th:object="${personnage}" method="post">
		<div class="form-row">
			<div class="col-md-4 mb-3">
				<label for="validationDefault01">Name</label>
				<input type="text" th:field="*{name}" class="form-control" id="validationDefault01" placeholder="Name" required>
			</div>
			<div class="col-md-4 mb-3">
				<label for="validationDefault02">Points</label>
				<input type="number" th:field="*{points}" class="form-control" id="validationDefault02" placeholder="Points" required>
			</div>
		</div>
		<button class="btn btn-primary" type="submit" value="Submit">Register</button>
	</form>



</html>